header {
  &.fixed {
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.2);
  }
  &.MuiPaper-root {
      background-color: #ffffff;
      color: #000000;
      --Paper-shadow: none !important;
    }
    .MuiBox-root {
      justify-content: center;

      .MuiButton-root {
          color: #000000 !important;
      }
    };
    @media (max-width: 900px) {
      .MuiBox-root {
        justify-content: unset;
      }
    }
};