header {
  &.MuiPaper-root {
      background-color: #ffffff;
      color: #000000;
      --Paper-shadow: 0px 0px 0px 0px !important;
    }
    .MuiBox-root {
      justify-content: center;

      .MuiButton-root {
        &.css-bdcj6b-MuiButtonBase-root-MuiButton-root {
          color: #000000;
        }
      }
    };
    @media (max-width: 900px) {
      .MuiBox-root {
        justify-content: unset;
      }
    }
};